.block-input {
  .el-input__inner {
    border: 0;
    border-bottom-color: var(--border-color);
    border-bottom-width: var(--border-width);
    border-bottom-style: var(--border-style);
  }
}
